.informationSection {
  margin-top: 100px;
  width: 100%;
  padding: 40px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.textContent p {
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 300;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textContent .title,
.textContent .description {
  animation: appearOnScroll 1s ease-out;
  animation-timeline: view();
  opacity: 0;
}

.textContent .churchPlace {
  margin-bottom: 70px;
}

.textContent .churchPlace {
  animation: imageAppearOnScroll 1s ease-out;
  animation-timeline: view();
  opacity: 0;
  animation-delay: 300ms;
}

.textContent .partyPlace {
  animation: imageAppearOnScroll 1s ease-out;
  animation-timeline: view();
  opacity: 0;
  animation-delay: 400ms;
}

.textContent .churchPlace img,
.textContent .partyPlace img {
  width: 200px;
  height: auto;
}

@keyframes appearOnScroll {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes imageAppearOnScroll {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .textContent .churchPlace img,
  .textContent .partyPlace img {
    width: 140px;
    height: auto;
  }

  .informationSection {
    padding: 70px;
  }
}
